h1 {
    font-size: 85px;
    text-align:center;
}

h2 {
    font-size: 65px;
    text-align: left;
}

@keyframes blink {
    0% { color: red; }
    15% { color: blue; }
    100% { color: red; }
  }
  
  blink {
    animation: blink 0s linear infinite;
  }  