<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SBS 아카데미 수원</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<style>
    .font-size2 { font-size : 2}
    table, tr, td { font-size : 2}
</style>
</head>

<body>
<table width="100%" height=50 cellpadding="5" bgcolor="green">
    <tr>
        <td width=150 >
            <font color="#FFFFFF">
                &nbsp;주소록 관리툴&nbsp;
            </font>
        </td>
        <td>            
            <a href=""><img src="{{ url_for('static', filename='images/free-icon-addr.png') }}" width=15>&nbsp; <font color="#000000" size="2">주소록</font> </a>&nbsp;
            <img src="{{ url_for('static', filename='images/free-icon-edit.png') }}" width=15>&nbsp; <font color="#000000" size="2">메모</font>&nbsp;
            <img src="{{ url_for('static', filename='images/free-icon-folder.png') }}" width=15>&nbsp; <font color="#000000" size="2">저장소</font>           
        </td>
        <td width=150 >
            <font size="2" color="silver">Login ID</font> &nbsp;
            <!-- <img src="images/free-icon-bell.png"> -->
            <img src="{{ url_for('static', filename='images/free-icon-bell.png') }}"  width=15>
        </td>
    </tr>
</table>
</nav>

{% block content %}
{% endblock %}    

</body>
</html>
